.ant-layout .ant-layout-sider-children{
  height: 100vh;
  padding: 1vh;
}

.ant-layout-has-sider{
  padding: 2px;
}

.ant-layout-sider{
  padding-top: 10px;
  border-radius: 10px;
}

.site-layout .site-layout-background{
  background: #fff;
  box-shadow: 0 0 3px #ddd;
  border-radius: 7px;
  margin: 10px;
}
.ant-layout-header{
  margin: 10px;
  margin-bottom: 0;
  margin-top: 18px;
  margin-left: 16px;
  margin-right: 16px;
}

